.navbar {
  box-shadow: 0px 5px 10px 0px #aaa;
  position: fixed;
  width: 100%;
  background: #fff;
  color: #000;
  opacity: 0.85;
  height: 50px;
  z-index: 12;
}
.navbar>div>div>img{
  width: 28%;
  
  
  }
  
  
.navbar-container {
    width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top:5px;
 
}
.navbar-container>ul{
  margin-right: 30px;
  margin-bottom: 20px;
}
.menu-items {
  order: 2;
  display: flex;
}

.menu-items li {
  list-style: none;
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.menu-items a {
  text-decoration: none;
  color: #444;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.menu-items a:hover {
  color: #117964;
  transition: color 0.3s ease-in-out;
}

.logo {
  order: 1;
  font-size: 2.3rem;
  margin-bottom: 0.5rem;
}


.course-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
  
}

.course-card {
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  padding: 15px;
  margin-top: 80px;
}

.course-title {
  font-size: 18px;
  font-weight: bold;
}

.course-description {
  margin-top: 8px;
}

.course-instructors {
  margin-top: 8px;
}

.instructor {
  margin-right: 5px;
  display: inline-block;
}

.course-department {
  margin-top: 8px;
  font-style: italic;
}

.course-created-at {
  margin-top: 8px;
  font-size: 12px;
}

.enroll-button {
  margin-top: 10px;
  background-color: #117964;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 10px;
}



/* Add this to your existing CSS file */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;

}


.modal-box {

  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.modal-box>form>input{
  margin: 20px;
}
.modal-box>form>button{
  background-color: #045754;
  color: white;
}
.close-button {
  display: flex;
 justify-content: end;
  position: absolute;
 background-color: #045754;
 color: white;
 cursor: pointer;
}
