<header>
    <nav>
        <div class="logo">
            <img src="images/education.svg" alt="Lotus School Logo">
        </div>
        <ul class="nav-links">
            <li><a href="http://localhost:4200/home">Way to Home</a></li>
            <li><a href="#">Courses</a></li>
            <li><a href="#">Departments</a></li>
            <li><a href="#">Enrollments</a></li>
            <li><a href="http://localhost:4200/create-instructor">Create Instructor</a></li>
            
        </ul>
    </nav>
  </header>